.navbar {
	border-radius: 0;
}

.info{
	margin-top: 30px;
	border-radius: 10px;

	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.footer {
	background-color: #dddddd;
	height: 100px;
	text-align: center;
	bottom: 0;

}

.footer p {
	padding-top: 20px;
}